.services{
    display: flex;
    margin-top: 15vh;
    flex-direction: row;
}
.services-left{
    width: 50%;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1{
    height: 80%;
    width: 100%;
    margin-left: -50%;
    align-items: center;
    display: flex;
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(211,211,211,1) 50%, rgba(255,255,255,1) 100%);    
}
.box1-img {
    width: 40vw;
    margin-left: 30%;
}
.box2{
    height: 80%;
    width: 100%;
    margin-left: -50%;
    align-items: center;
    display: flex;
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgb(34, 111, 253) 50%, rgba(255,255,255,1) 100%);    
}
.box2-img {
    width: 60vw;
    margin-left: 5%;
}
.box3{
    height: 80%;
    width: 100%;
    margin-left: -50%;
    align-items: center;
    display: flex;
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgb(253, 34, 129) 50%, rgba(255,255,255,1) 100%);    
}
.box3-img {
    width: 50vw;
    margin-left: 5%;
}
.box4{
    height: 80%;
    width: 100%;
    margin-left: -50%;
    align-items: center;
    display: flex;
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgb(34, 253, 132) 50%, rgba(255,255,255,1) 100%);    
}
.box4-img {
    width: 45vw;
    margin-left: 15%;
}
.box5{
    height: 80%;
    width: 100%;
    margin-left: -50%;
    align-items: center;
    display: flex;
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgb(216, 34, 253) 50%, rgba(255,255,255,1) 100%);    
}
.services-right {
    display: flex;
    width: 50%;   
    flex-direction: column;
    height: auto;
}
.div1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0% 10% 5% 0%;
    margin-top: 15%;
    gap: 2%;
    justify-content: center;
}
.div1 h1 {
    font-size: 3rem;
    font-weight: 500;
    color: rgb(47, 47, 47);
}
.div1 h5 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(47, 47, 47);
}
.div1 p {
    font-size: 1.2rem;
    color:rgb(107, 107, 107);
    padding: 20px 0px;
}
.div1 a:hover {
    text-decoration: underline;
  }
.div2 {
    height: 100vh;
    background-color: rgb(9, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.div3 {
    height: 100vh;
    background-color: rgb(200, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Responsive screen for mobile & other */
@media screen and (max-width:700px) {
    .box1-img {
        width: 55vw;
        margin-left: 10%;
    }
    .box2-img {
        width: 75vw;
        margin-left: -5%;
    }
    .box3-img {
        width: 65vw;
        margin-left: -5%;
    }
    .box4-img {
        width: 60vw;
        margin-left: 5%;
    }
}